.h1-name {
  color: black;
  margin-bottom: 30px;
  font-size: 30px;
}
.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  height: 100vh;
}
.characters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.character-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  padding: 70px 20px;
  text-align: center;
}
.character-details img {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 15px;
  height: 313px;
  width: 210px;
  border: 3px solid #ed1c24;
  object-fit: cover;
  box-shadow: 0 0 25px #00000080;
}
.character-description {
  margin-top: 60px;
  margin-bottom: 60px;
}

.comics-list-character {
  background-color: white;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* overflow-x: scroll;
  overflow-y: none; */
  gap: 16px;
  padding: 0 50px;
  max-width: 800px;
}

.comic-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.comic-card img {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 15px;
  height: 200px;
  width: 120px;
  border: 3px solid #ed1c24;
  object-fit: cover;
  box-shadow: 0 0 25px #00000080;
}
.comic-card-img {
  overflow-x: scroll;
  overflow-y: none;
}
